body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  .user-info {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    max-height: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(234, 14, 14, 0.5);
    display: none;
  }
  .user-info img {
    width: 100px;
    height: 100px;
    
  }
  .error {
    color: red;
  }

  #profile-link{
    text-decoration: none;
    color: blueviolet;
    transition: color 0.3s ease-in-out;
  }

  #profile-link:hover {
  color: #ff4500;
}